div.my.custom-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 26px 56px;
}

div.my.custom.card{
        width: 380px!important;
}

div.my.custom{
        margin: 8px;
        background: #7575a3;
}

.my.logged-p{
        color: #c2e7ff;
}

.my.link.in-header{
        color: #0282ac;
        margin-left: 6px;
        margin-right: 6px;

}


.my.link:hover{
        color: ghostwhite;
}


.my.link{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: #0d6efd;
        transition: 0.3s ease;
}

.my.link.username{
       color: black;
        font-size: 18px;
        transition: 0.35s ease;
        text-decoration: underline;
}

.my.link.username:hover{
        color: ghostwhite;
}

body{
        background: #1c1326;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
}

main {
        flex: 1;
}

footer {
        flex-shrink: 0;
}

.my.hello{
        color: #c2e7ff;
        margin-left: 20px;
        margin-bottom: 6px;
}

div.my.footer-wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}

.comment-btn{
        margin: 2px 4px -4px 4px;
        padding: 0 2px 0 2px;
}

div.my.comment-btns-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 4px;
}

div.my.image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125px;
}
div.my.image-wrapper img{
        height: 100%;
        width: auto;
}

div .my.comment-section{
        border-top: 0.5px solid black;

}

#comment-input{
        margin-bottom: 4px;
        margin-top: 10px;
        max-width: 250px;
        border-radius: 0;
}

#inputGroup-sizing-sm{
        margin-bottom: 4px;
        margin-top: 10px;
        border-radius: 0;
}

div.input-group label{
        display: none;
}

div.my.wrapper.details{
        background: #7575a3;
        padding-left: 12px;
}

h1.my.ad-details{
        color: ghostwhite;
}

div.my.ad-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 22px;
        margin-bottom: 16px;
        flex-direction: column;
}

form > p > label{
        display: none;
}

div.my.wrapper{
        display: flex;
}

div.my.img.wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
}

div.my.img-wrapper{
        width: 650px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #1c1326;
        padding: 2px;
}

div.my.img-wrapper > img{
        width: 100%;
        height: 100%;
}

div.my.wrapper.details{
        flex-direction: column;
        margin-bottom: -24px;
        padding-bottom: 8px;
}

a.my.details.btn{
        margin-top: 6px;
}

#details-wrapper{
        flex-direction: column;
        gap: 32px;
}

p.my.info{
        color: ghostwhite;
}

div.my.top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        margin-top: 14px;
        margin-bottom: 20px;
}

div.my.info-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
}

div.my.btn-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 6px;
}

div.my.form.wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        color: #c2e7ff;
}

div.my.form.wrapper label{
        display: block;
}

div.my.elements-form.wrapper{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
}

div.my.elements-form.wrapper > ul{
        color: crimson;
}

body > main > div > form > div:nth-child(2) > p:nth-child(5){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
}

#id_content{
        background: #7575a3;
        border-radius: 10px;
        resize: none;
        border: 0.5px solid beige;
        padding: 10px;
}

#id_description{
        background: #7575a3;
        border-radius: 10px;
        resize: none;
        border: 0.5px solid beige;
        padding: 10px;
}

div.my.wrapper.blog-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: #7575a3;
        padding-top: 12px;
        padding-bottom: 12px;
}

div.my.blog-details.btns{
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
}