{% extends 'base.html' %}
{% block page_content %}
<h1>
    Blogs
</h1>
    <h3>
        <a href="{% url 'create_blog' %}">Post in Blogs</a>
    </h3>
    <div class="custom">
        {% for blog in object_list %}

        <div class="card" style="width: 24rem;">
            <h5 class="card-title">Title: {{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Topic: {{ blog.topic }}</h6>
            <p>Posted: {{ blog.published }}</p>
                <a class="btn btn-primary card-link" href="{% url 'details_blog' blog.pk %}">See More</a>
        </div>
    </div>



        {% empty %}
            <p>No Posts Yet!</p>
        {% endfor %}

{% endblock %}