{% extends 'base.html' %}
{% block page_content %}
<h2 class="my hello">
    Hello {{ request.user }}
</h2>

    <h4 style="margin-left: 20px">
        <a href="{% url 'create_ad' %}" class="my link">Create Advertisement</a>
    </h4>
    <div style="display: flex; justify-content: center; align-items: center; margin: 16px 0 16px 0">
        <p style="font-size: 38px; color: #c2e7ff">Online Advertisements</p>
    </div>
    <div class="my custom-container">

            {% for ad in object_list %}

                            <div class="my custom card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ ad.cover_photo }}" alt="{{ ad.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ ad.title }}</h5>
                                    <p class="card-text" style="font-size: 18px">Description: {{ ad.description }}</p>
                                        <a class="btn btn-primary" href="{% url 'details_ad' ad.pk %}">See More</a>
                                    {% if not request.user.is_anonymous %}
                                    <form method="post" action="{% url 'create_comment' ad.pk %}">
                                        {% csrf_token %}
                                        <div class="input-group input-group-sm mb-3">
                                            {{ comment_form.as_p }}
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text" id="inputGroup-sizing-sm">
                                                    Post comment
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </form>
                                <div class="my comment-section">
                                    <p style="color: ghostwhite">Comments:</p>
                                    {% for comment in ad.comment_set.all %}
                                        <p><a href="{% url 'details_profile' comment.owner.pk %}" class="my link username">{{ comment.owner.user }}</a> says:</p>
                                        <p>{{ comment.content }}</p>
                                        <p style="color: #c6d9ec">{{ comment.published }}</p>
                                        {% if comment.owner.user.pk is request.user.pk %}
                                            <div class="my comment-btns-wrapper">
                                                <a href="{% url 'edit_comment' comment.pk %}" class="comment-btn btn btn-primary">Edit Comment</a>
                                                <a href="{% url 'delete_comment' comment.pk %}" class="comment-btn  btn btn-primary">Delete Comment</a>
                                            </div>
                                        {% endif %}
                                    {% empty %}
                                        <p>This post does not have any comments!</p>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
            {% empty %}
                <p>No Post Yet!</p>
            {% endfor %}
    </div>
    <br>
{% endblock %}