{% extends 'base.html' %}
{% block page_content %}
    <div class="my form wrapper">
        <h1 style="color: ghostwhite;">Create Advertisement</h1>
        <form method="post" action="{% url 'create_ad' %}">
           {% csrf_token %}
            <div class="my elements-form wrapper">
                {{ form.as_p }}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div class="my elements-form wrapper">
                <button type="submit" class="btn btn-primary" style="margin-top: 12px">Post Advertisement</button>
            </div>
        </form>
    </div>
{% endblock %}