{% extends 'base.html' %}
{% block page_content %}
    <h1>{{ ad_owner_user }}'s profile</h1>
    <p>Created: {{ object.created_on }}</p>
    {% if object.first_name %}
        <p>Fist Name: {{ object.first_name }}</p>
    {% else %}
        <p>First Name: no information</p>
    {% endif %}
    {% if object.last_name %}
        <p>Last Name: {{ object.last_name }}</p>
    {% else %}
        <p>Last Name: no information</p>
    {% endif %}
    {% if object.phone_number %}
        <p>Phone Number: {{ object.phone_number }}</p>
    {% else %}
        <p>Phone Number: no information</p>
    {% endif %}
    {% if object.user_id is request.user.pk %}
        <button>
            <a href="{% url 'edit_profile' object.pk %}">Edit Profile</a>
        </button>
        <button>
            <a href="{% url 'edit_username' ad_owner_user.pk %}">Edit Username</a>
        </button>
        <button>
            <a href="{% url 'delete_user' ad_owner_user.pk %}">Delete Profile</a>
        </button>
    {% endif %}
    <h2>Posted Advertisements:</h2>
    {% for ad in all_ads %}

        <p>Advertisement Details</p>
        <div class="wrapper">
            <p>{{ ad.title }}</p>
            <img src="{{ ad.cover_photo }}" alt="{{ ad.title }} 1">
            <button>
                <a href="{% url 'details_ad' ad.pk %}">See More</a>
            </button>
        </div>
    {% empty %}
        <p>This user does not have any posts!</p>
    {% endfor %}
    <h2>Posts in Blogs:</h2>
    {% for blog in all_blogs %}
        <div class="card">
            <p>{{ blog.title }}</p>
            <p>{{ blog.topic }}</p>
            <button>
                <a href="{% url 'details_blog' blog.pk %}">See More</a>
            </button>
        </div>
    {% empty %}
        <p>This user does not have any posts in Blogs!</p>
    {% endfor %}
{% endblock %}